
doctype html 
html(lang="en")
  head 
    meta(charset="utf-8")
    meta(name="viewport" content ="width=device-width, initial-scale=1.0")
    title Mood DJ for Footballers 
    link(rel="stylesheet", href="/css/styles.css")
  body 
    include ./includes/nav.pug

    block content 
   
    script(src="/js/main.js")
    

